# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/

# turbo
.turbo/

# env files
.env
.env.local
.env.*.local

# editors
.DS_Store
*.pem
.vscode/
.idea/

# debug
npm-debug.log*
pnpm-debug.log*

# prisma
packages/db/generated/
